@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Protest+Revolution&display=swap");


:root {
  --preto: #0b0b0b;
  --preto-caixa: #181818;
  --preto-input: #111111;

  --branco: #ffffff;
  --cinza: #444444;
  --cinza-claro: #666666;

  --roxo: #6d28d9;
  --roxo-claro: #8b5cf6;
  --roxo-escuro: #5b21b6;
}

body {
  background-color: #0b0b0b;
  color: white;
  font-family: "Comic Relief", sans-serif;
  padding: 20px;
}

img {
  width: 220px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 15px #8b5cf6;
}

h1,
h2,
h3 {
  font-family: "Protest Revolution", sans-serif;
  color: #ffffff;
  background-color: #5b21b6;
  letter-spacing: 2px;
}

button {
  color: #ffffff;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #8c00ff;
}

p {
  font-size: 20px;
  padding: 12px 20px;
  text-align: justify;
  margin: 8px 0;
  color: #ffffff;
}

.fundo {
  background-color: #181818;
  border: 1px solid #444;
  padding: 15px;
  margin: 15px auto;
}


ul li {
  font-size: 20px;
  margin: 8px 0;
  padding: 6px 10px;
  border-radius: 6px;
  color: #ffffff;
}

ol li {
  font-size: 20px;
  margin: 8px 0;
  padding: 6px 10px;
  border-radius: 6px;
  color: #ffffff;
}
