@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
body {
  background-color: #fcf2ffd3;
}

h1 {
  color: #4b076b;
  margin: 50px;
  text-align: center;
  font-size: 60px;
}

button {
  color: #8c00ff;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

p {
  font-size: 20px;
  padding: 12px 20px;
  text-align: justify;
  margin: 8px 0;
  color: #33004b;
}

h2,
h3 {
  color: #650094;
  padding: 12px 20px;
  font-size: 30px;
}

ul li {
  font-size: 20px;
  margin: 8px 0;
  padding: 6px 10px;
  border-radius: 6px;
  color: #33004b;
}

ol li {
  font-size: 20px;
  margin: 8px 0;
  padding: 6px 10px;
  border-radius: 6px;
  color: #33004b;
}

* {
  font-family: "Sedgwick Ave", cursive;
  font-weight: 200;
  font-style: normal;
}
